* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    background: white;
}

.header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: lightgreen;
    text-align: center;
    border: 1px solid wheat;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}

form, .content {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid lightgray;
    background: white;
    border-radius: 0px 0px 10px 10px;
}

.input-group {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid grey;
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: lightskyblue;
    border: none;
    border-radius: 5px;
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid red;
    color: red;
    background: wheat;
    border-radius: 5px;
    text-align: left;
}

.success {
    color: green;
    background: white;
    border: 1px solid green;
    margin-bottom: 20px;
}